[Unit]
Description=Safilo backend server
After=mysqld.service
StartLimitBurst=5
StartLimitIntervalSec=300

[Service]
User=safilo
WorkingDirectory=/safilo/backend
ExecStart=java -jar quarkus-run.jar
Restart=always
RestartSec=30

Environment=QUARKUS_HTTP_CORS=true
Environment=QUARKUS_HTTP_CORS_ORIGINS=https://{{ lookup("env", "DOMAIN_NAME") }}
Environment=QUARKUS_HTTP_CORS_METHODS=GET,PUT,POST,DELETE
Environment=QUARKUS_HTTP_AUTH_PROACTIVE=false
Environment=DOMAIN_NAME={{ lookup("env", "DOMAIN_NAME") }}
Environment=MP_JWT_TOKEN_COOKIE=identity
Environment=MP_JWT_VERIFY_ISSUER=https://{{ lookup("env", "DOMAIN_NAME") }}:8080
Environment=SMALLRYE_JWT_SIGN_KEY_LOCATION=/safilo/priv.pem
Environment=CDR_EMAIL={{ lookup("env", "CDR_EMAIL") }}

[Install]
WantedBy=multi-user.target
